@font-face {
    font-family: 'Aeonik Pro';
    src: url('AeonikProTRIAL-Bold.eot');
    src: url('AeonikProTRIAL-Boldd41d.eot?#iefix') format('embedded-opentype'),
        url('AeonikProTRIAL-Bold.woff2') format('woff2'),
        url('AeonikProTRIAL-Bold.woff') format('woff'),
        url('AeonikProTRIAL-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('AeonikProTRIAL-Regular.eot');
    src: url('AeonikProTRIAL-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('AeonikProTRIAL-Regular.woff2') format('woff2'),
        url('AeonikProTRIAL-Regular.woff') format('woff'),
        url('AeonikProTRIAL-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('AeonikProTRIAL-Light.eot');
    src: url('AeonikProTRIAL-Lightd41d.eot?#iefix') format('embedded-opentype'),
        url('AeonikProTRIAL-Light.woff2') format('woff2'),
        url('AeonikProTRIAL-Light.woff') format('woff'),
        url('AeonikProTRIAL-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

